body{
  background-image: linear-gradient(#9796F0, #FBC7D4);
}

label{
  color: white;
}

h2{
  color: white;
}

h3{
  color: white;
}

td {
  font-weight: 500;
  font-size: 14px;
  color: white;
}

.col-font{
  color: white;
}


.table {
  word-wrap: break-word;
}
